[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-leyni
Exec=harbour-leyni
Name=Leyni

[X-Sailjail]
OrganizationName=harbour-leyni
ApplicationName=harbour-leyni
Permissions=Internet
